<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/register.css') }}"></link>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    <div class='linha'>
        <div class='coluna-50'>
            <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Background. Imagem Logo PetFrien"></img>
            <strong>
                <h1 class='txt'>Cadastro</h1>
            </strong>
            <strong>
                <p>Seja um cliente da maior rede de PetShops do Brasil!</p>
            </strong>
        </div>
        <div class='coluna-50'>
            <form class="Register" action="/usuario_cadastro" method="POST">
                <div class="Register-group">
                    <h3 class="title">Crie sua conta</h3>
                    <input type='text' name='nome_usuario' placeholder='Nome' class="Register-Field" required autocomplete="off" />
                    <input type='text' name='telefone_usuario' placeholder='Telefone' class="Register-Field" id='telefone_usuario' maxlength="14" required autocomplete="off" ></input>
                    <input type='text' name='cpf_usuario' placeholder='CPF' class="Register-Field" id ="cpf_usuario" autocomplete ="off" required maxlength="14"></input>
                    <input type='email' name='email_usuario' placeholder='Email' class="Register-Field" required autocomplete="off" ></input>
                    <input type='password' name='senha_usuario' placeholder='Senha' class="Register-Field" required ></input>
                    <input type='text' name='endereco_usuario' placeholder='Endereço' class="Register-Field" required autocomplete="off"></input>
                    <input type='text' name='numero_end_usuario' placeholder='Nº' class="Register-Field" required autocomplete="off"></input>
                    <input type='text' name='complemento_usuario' placeholder='Complemento' class="Register-Field" autocomplete="off" ></input>
                    <input type='text' name='bairro_usuario' placeholder='Bairro' class="Register-Field" required autocomplete="off"></input>
                    <input type='text' name='cep_usuario' placeholder='CEP' class="Register-Field"  id ='cep_usuario'required autocomplete="off" maxlength="9"></input>
                    <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div><br/>
                    <button type="submit" class="Register-Btn">Cadastre-se</button>
                    {% if message != "" %}
                        <label class="Register-Error">{{message}}</label>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
        $('#cpf_usuario').mask('000.000.000-00');
        $('#telefone_usuario').mask('(00)00000-0000');
        $('#cep_usuario').mask('00000-000');

    })
</script>
</html>