<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/register.css') }}"></link>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    <div class='linha'>
        <div class='coluna-50'>
            <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Background. Imagem de calculadora"></img>
            <strong>
                <h1 class='txt'>Cadastro</h1>
            </strong>
            <strong>
                <p>Seja um credenciado da maior rede de PetShops do Brasil!</p>
            </strong>
        </div>
        <div class='coluna-50'>
            <form class="Register" action="/vendedor_cadastro" method="POST">
                <div class="Register-group">
                    <h3 class="title">Crie sua conta</h3>
                    <input type='text' name='nome_vendedor' placeholder='Nome' class="Register-Field" required />
                    <input type='text' name='telefone_vendedor' placeholder='Telefone' class="Register-Field" id='telefone_vendedor' required autocomplete="off" maxlength="14" ></input>
                    <input type='text' name='cnpj_vendedor' placeholder='CNPJ' class="Register-Field" required id='cnpj_vendedor' required autocomplete="off" maxlength="18" ></input>
                    <input type='email' name='email_vendedor' placeholder='Email' class="Register-Field" autocomplete="off" required  ></input>
                    <input type='password' name='senha_vendedor' placeholder='Senha' class="Register-Field"  autocomplete="off" required ></input>
                    <input type='text' name='endereco_vendedor' placeholder='Endereço' class="Register-Field"  autocomplete="off" required ></input>
                    <input type='text' name='numero_end_vendedor' placeholder='Nº' class="Register-Field" autocomplete="off" required ></input>
                    <input type='text' name='complemento_vendedor' placeholder='Complemento' class="Register-Field" autocomplete="off" ></input>
                    <input type='text' name='bairro_vendedor' placeholder='Bairro' class="Register-Field" required autocomplete="off" ></input>
                    <input type='text' name='cep_vendedor' placeholder='CEP' class="Register-Field" required id='cep_vendedor' required autocomplete="off" maxlength="9"></input>
                    <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div> <br/>
                    <button type="submit" class="Register-Btn">Cadastre-se</button>
                    {% if message != "" %}
                        <label class="Register-Error">{{message}}</label>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
        $('#cpf_vendedor').mask('000.000.000-00');
        $('#cnpj_vendedor').mask('00.000.000/0000-00');
        $('#telefone_vendedor').mask('(00)00000-0000');
        $('#cep_vendedor').mask('00000-000');
    })
</script>
</html>