<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/register.css') }}"></link>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    <div class='linha'>
        <div class='coluna-50'>
            <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Background. Imagem Logo PetFrien"></img>
            <strong>
                <h1 class='txt'>Cadastro de entregador</h1>
            </strong>
            <strong>
                <p>Seja um entregador da maior rede de PetShops do Brasil!</p>
            </strong>
        </div>
        <div class='coluna-50'>
            <form class="Register" action="/entregador_cadastro" method="POST">
                <div class="Register-group">
                    <h3 class="title">Crie sua conta</h3>
                    <input type='text' name='nome_entregador' placeholder='Nome' class="Register-Field" required />
                    <input type='text' name='cpf_entregador' placeholder='CPF' class="Register-Field" required ></input>
                    <input type='text' name='telefone_entregador' placeholder='Telefone' class="Register-Field" required ></input>
                    <input type='text' name='cnh_entregador' placeholder='CNH' class="Register-Field" required ></input>
                    <input type='email' name='email_entregador' placeholder='Email' class="Register-Field" required ></input>
                    <input type='password' name='senha_entregador' placeholder='Senha' class="Register-Field" required ></input>
                    <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div> <br/>
                    <button type="submit" class="Register-Btn">Cadastre-se</button>
                    {% with messages = get_flashed_messages() %}
                      {% if messages != "" %}
                     {% for message in messages %}
                        <label class="Register-Error">{{messages}}</label>
                     {% endfor %}
                      {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>
    </div>
</body>

</html>