<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}"></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <img  class ='pata'src='/static/images/pata-de-cachorro.png'>
                <h2 class="title title-primary">PetFriends</h2>
                <p class="description description-primary">Bem Vindo a maior rede de PetShop do Brasil</p>
                
            </div>    
            <div class="second-column">
                <h2 class="title title-second">Login</h2>
                <div class="social-media">
                    <ul class="list-social-media">
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fas fa-shipping-fast"></i>        
                            </li>
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-google-plus-g"></i>
                            </li>
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-linkedin-in"></i>
                            </li>
                        </a>
                    </ul>
                </div><!-- social media -->
                <form class="form" action="/usuario_login" method="POST">                   
                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="email" id="email" name='email_usuario' placeholder="Email" required>
                    </label>
                    
                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="password" id="password" name="senha_usuario" placeholder="Password" required>
                    </label>
                    
                    <button id="signin" class="btn btn-second">Login</button></br>
                    {% if message != "" %}
                        <label class="login_error">{{  message }}</label>
                    {% endif %}
                    <p class="nova_conta">Não tem uma conta?  <a href="/cadastros">Crie uma nova conta</a></p>
                </form>
            </div><!-- second column -->
        </div><!-- first content -->
        
    </div>
    <script src="js/app.js"></script>
    
</body>
</html>