<html>
    <head>
        <meta charset="UTF-8"/>
        <title> Produtos </title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/reset.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/home.css') }}"></link>
    </head>
    <body>
        <header>
            <div class = "caixa">
                <h1><img src="{{ url_for('static', filename='images/logo_inicio.png') }}" class="logo-inicio"></h1>
                <nav class="menu">
                    <ul>
                        <li><a href="./home">Home</a></li>
                        <li><a href="./produtos">Produtos</a></li>
                        <li><a href="./login">Logout</a></li>
                    </ul>
                </nav>
            </div>
        
        <div class = "product-items">
            <!-- single product -->
            {% for produto in produtos %}
            <div class = "product">
                <div class = "product-content">
                    <div class = "product-img">
                        <img src = "#" class="logo-inicio"
                             alt = "product image">
                    </div>
                    <div class = "product-btns">
                        <button type = "button" class = "btn-cart"> Carrinho
                            <span><i class = "fas fa-plus"></i></span>
                        </button>
                        <button type = "button" class = "btn-buy"> Comprar Agora
                            <span><i class = "fas fa-shopping-cart"></i></span>
                        </button>
                    </div>
                </div>

                <div class = "product-info">
                    <div class = "product-info-top">
                        <h2 class = "sm-title"></h2>
                        <div class = "rating">
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                    </div>
                    <a href = "#" class = "product-name">{{ produto.nome_produto }}</a>
                    <p class = ""> {{produto.descricao_produto}} </p>
                    <p class = "product-price">R$ {{ produto.preco_produto}}</p>
                </div>
                {% endfor %}
                
            </div>
       </div>
    </body>

</html>